body {
	color: black;
	background-image:url(assets/bgv2.jpg);
	background-size: cover;
	background-attachment: fixed;
}

@keyframes resumeIcon {
	from {color: #f3f3f3;}
	to {color: black;}
}

.resumeIcon {
	animation-name: resumeIcon;
	animation-duration: 5s;
	color: black;
	font-size: 2.5em
}

@keyframes devpostIcon {
	from {color: #f3f3f3;}
	to {color: #083E54;}
}

.devpostIcon {
	animation-name: devpostIcon;
	animation-duration: 5s;
	color: #083E54;
	font-size: 2.5em
}

@keyframes githubIcon {
	from {color: #f3f3f3;}
	to {color: #8000ff;}
}

.githubIcon {
	animation-name: githubIcon;
	animation-duration: 5s;
	color: #8000ff;
	font-size: 2.5em
}

@keyframes linkedinIcon {
	from {color: #f3f3f3;}
	to {color: #3366cc;}
}

.linkedinIcon {
	animation-name: linkedinIcon;
	animation-duration: 5s;
	color: #3366cc;
	font-size: 2.5em;
}

@keyframes instagramIcon {
	from {color: #f3f3f3;}
	to {color: #ff66d9;}
}

.instagramIcon {
	animation-name: instagramIcon;
	animation-duration: 5s;
	color: #ff66d9;
	font-size: 2.5em
}

.resumeIcon:hover,
.githubIcon:hover,
.linkedinIcon:hover,
.instagramIcon:hover,
.devpostIcon:hover {
	color:#d5d5d5;
}

.header {
	animation-duration:5s;
	text-align: center;
	padding-bottom: 5rem;
	padding-top: 3rem
}

.pfp {
	display: block;
	width: 327px;
	height: 347px;
	margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.pp-logo {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mm-logo {
  width: 220px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.beast-logo {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.myButton {
  background:    #ffffff;
  border:        1px solid #6D757D;
  border-radius: 6px;
  width:         110px;
  height:        40px;
  color:         #6D757D;
  display:       inline-block;
  text-align:    center;
}

.myButton:hover {
  background:    #6D757D;
  border:        1px solid #ffffff;
  border-radius: 6px;
  width:         110px;
  height:        40px;
  color:         #ffffff;
  display:       inline-block;
  text-align:    center;
}

.myButton:active {
  background:    #6D757D;
  border:        1px solid #ffffff;
  border-radius: 6px;
  width:         110px;
  height:        40px;
  color:         #ffffff;
  display:       inline-block;
  text-align:    center;
}

.site-footer {
  background-color: #ffffff;
  padding:45px 0 45px;
  font-size:15px;
  line-height:24px;
  color: black;
}

.site-footer h6 {
  color: black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.email-box {
  width: 400px;
}

.message-box {
  width: 400px;
  height: 200px;
}

.contact {
  padding-left: 60px;
}